{% extends "admin/index.html" %}

{% block title %}Pokemon - Administration{% endblock title %}

{% block content %}
    {{ super() }}

    <div class="container mx-auto">
        <div class="mb-4 text-red-500" id="error">
        </div>

        <div class="w-5/6 mx-auto text-right">
            <a href="{{ url_for('admin_pokemon_add') }}">
                <button class="bg-green-900 text-white py-2 px-4 rounded-xl">Ajouter</button>
            </a>
        </div>

        <div class="bg-white shadow-md rounded my-6 mx-8">
            <div class="flex justify-between bg-gray-200 px-4 py-2">
                <div class="w-1/12">National</div>
                <div class="w-1/12">Nom</div>
                <div class="w-1/12">Image</div>
                <div class="w-1/12">Taille</div>
                <div class="w-1/12">Poids</div>
                <div class="w-1/12">Types</div>
                <div class="w-1/12">Point de vie</div>
                <div class="w-1/12">Attaque</div>
                <div class="w-1/12">Défense</div>
                <div class="w-1/12">Attaque Spéciale</div>
                <div class="w-1/12">Défense Spéciale</div>
                <div class="w-1/12">Vitesse</div>
            </div>
            <div class="divide-y divide-gray-200" id="table"></div>
        </div>
    </div>

    <script src="{{ url_for('get_js', path='admin/get_pokemons.js') }}"></script>
{% endblock content %}
