{% extends "admin/index.html" %}

{% block title %}
    Ajouter Type - Administration
{% endblock title %}

{% block content %}
    {{ super() }}

    <div class="max-w-md mx-auto bg-white rounded p-6 shadow-md m-6 h-min">
        <h2 class="text-xl font-semibold mb-4">Ajouter un type</h2>
        <form>
            <div class="mb-4 text-red-500" id="error"></div>
            <div class="mb-4">
                <label for="username" class="block text-gray-700 font-semibold mb-2">Nom</label>
                <input type="text" id="name" name="name" class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500" required>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-semibold mb-2">Image</label>
                <input type="file" id="image" name="image" class="border border-gray-300 rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500" required>
            </div>
            <button type="submit" id="add_submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-200">Ajouter</button>
        </form>
    </div>

    <script src="{{ url_for('get_js', path='admin/add_type.js') }}"></script>
{% endblock content %}